{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>|| Login ||</title>
    <link rel="stylesheet" href="{% static 'css/login/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login/responsive-style.css' %}">
</head>
<body>
    <form action="login" method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="main-div">
                <div class="avatar">
                    <!-- Avatar image -->
            <img class="avatar-image" src="{% static 'images/login/avtar.png' %}" />
        </div>
        <div class="username">
            <div class="user-img-div">
                <img class="user-img" src="{% static 'images/login/user.png' %}" alt="">
            </div>
            <input type="text" placeholder="User-Name" name="username">
        </div>
        <div class="password">
            <div class="password-img-div">
                <img class="password-img" src="{% static 'images/login/lock.png' %}" alt="">
            </div>
            <input type="password" placeholder="password" name="password">
        </div>

        <div class="last-row">
            <a href="create-account">Create Account</a>
            <a href="#">Forgot Password?</a>
        </div>
        </div>
        <div class="login-btn">
            <button class="submit">Login</button>
        </div>
    </div>
</form>
{% comment %} <script src="{% static 'js/script.js' %}"></script> {% endcomment %}
</body>
</html>